backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.next/

.env
*.log
.idea/
.vscode/
.DS_Store
